In [14]:
import tensorflow as tf 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print('tensorflow version', tf.__version__)
data_path = pd.read_csv('data/1_american_dataset.csv')
data_features = pd.read_csv('data/bankrupt_features.csv')
data_status = pd.read_csv('data/status_bankrupt.csv')

tensorflow version 2.11.0

In [17]:
# df = data_path.select_dtypes(include=['float64','int64'])
# X = df.drop(['cik', 'fyear', 'status'], axis=1)
# y = df["status"]
# X.to_csv('bankrupt_features.csv')
# y.to_csv('status_bankrupt.csv')

In [22]:
data_features.head()

,Unnamed: 0,current_assets,total_assets,cost_of_goods_sold,total_long_term_debt,depreciation_and_amortization,ebit,ebitda,gross_profit,inventory,total_current_liabilities,net_income,retained_earnings,total_receivables,total_revenue,market_value,total_liabilities,net_sales,total_operating_expenses
0,0,511.267,740.998,833.107,180.447,18.373,70.658,89.031,191.226,336.018,163.816,35.163,201.026,128.348,1024.333,372.7519,401.483,1024.333,935.302
1,1,485.856,701.854,713.811,179.987,18.577,45.790,64.367,160.444,320.590,125.392,18.531,204.065,115.187,874.255,377.1180,361.642,874.255,809.888
2,2,436.656,710.199,526.477,217.699,22.496,4.711,27.207,112.244,286.588,150.464,-58.939,139.603,77.528,638.721,364.5928,399.964,638.721,611.514
3,3,396.412,686.621,496.747,164.658,27.172,3.573,30.745,109.590,259.954,203.575,-12.410,124.106,66.322,606.337,143.3295,391.633,606.337,575.592
4,4,432.204,709.292,523.302,248.666,26.680,20.811,47.491,128.656,247.245,131.261,3.504,131.884,104.661,651.958,308.9071,407.608,651.958,604.467

In [19]:
normalizer = tf.keras.layers.Normalization(axis=-1)
normalizer.adapt(data_features)

In [23]:
def simple_model():
    model = tf.keras.Sequential([
        normalizer,
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1)
    ])
    
    model.compile(optimizer='adam',
            loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
            metrics=['accuracy'])
    return model

In [ ]:
model = simple_model()
model.fit(data_features, data_status, epochs=15, batch_size=2)

In [7]:
from sklearn.model_selection import train_test_split

# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data_features, data_status, test_size=0.2, random_state=42)